<div class="row mt-3">
  <div class="col-md-6">
    <h2><%= title %></h2>

    <% if (typeof errors !== 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <ul class="mb-0">
        <% errors.forEach(error => { %>
        <li>
          <%= error.msg %>
        </li>
        <% }) %>
      </ul>
    </div>
    <% } %>

    <form method="POST" action="/contact/update">
      <input type="hidden" name="oldName" value="<%= contact.oldName || contact.name %>">

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= contact.name %>" required />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= contact.email %>" required />
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" value="<%= contact.phone %>" required />
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>